*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}
.nav1{
    height: 70px;
    width: 100%;
    background-color: #834e4e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.lan{
    height: 50px;
    width: 40px;
    /*background-color: antiquewhite;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 5px;
}
.all{
    height: 40px;
    width: 10%;
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    background-color: #F2F2F2;

}
.addre{
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deliver{
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
.update{
    font-size: 15px;
    font-weight: 600;
}
.searchbar{
    width: 40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
     
}
.searchbar input{
        height: 40px;
        width: 80%;
        border: none;
        padding-left: 10px; 
}
.searchicon{
    height: 40px;
    width: 10%;
    padding-left: 10px;
    background-color: #FF9900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}
.account:hover + .hide{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide:hover{
    display: block;
}
.hide{
    height: 350px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 0px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    display: none;
}
.hidemain{
    height: 55px;
    width: 100%;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(51, 49, 49);
    border-bottom: rgb(60, 56, 56);
    margin-bottom: 10px;
}
.hidemain h3{
    height: 30px;
    width: 200px;
    background-color: #f19538;
    border-radius: 5px;
    border: 2px solid rgb(124, 116, 116);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hidemain div{
    font-size: 13px;
}
.hidemenu{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 49, 49);
    font-size: 14px;
}
.lmenu{
    height: 100%;
    width: 45%;
   /* background-color: aquamarine;*/
}
.rmenu{
    height: 100%;
    width: 45%;
   /* background-color: rgb(229, 127, 255); */
    padding-left: 20px; 
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carticon{
    height: 40px;
    font-size: 35px;
}
.c{
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px; 
}
.nav2{
    height: 40px;
    width: 100%;
    background-color: #232F3E;
    color: white;
    padding-top: 10px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}
.slider{
    background-color: gray;
}
.slider{
    height: 60vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0.9557072829131653) 0%, rgba(255,255,255,0.8436624649859944) 43%, rgba(220,207,207,0) 100%),url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/D103625178_DesktopTallHero_3000x1200_V3._CB558389732_.jpg);
    background-size: cover;   
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -160px;
}
.box{
    
    height: 400px;
    width: 320px;   
    background-color: rgb(250, 245, 245);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.link{
  /* background-color: aquamarine;*/
    height: 40px;
    width: 90%; 
    display: flex;
    padding-top: 10px;
}
#box1 h3{
    padding-bottom: 10px;
}
#box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    height: 360px;
    width: 300px;
   /* background-color: antiquewhite;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 10px;
}
#box2 h3{
   /* background-color: aquamarine;*/
    padding-bottom: 10px;
}
.I{
    padding-bottom: 10px;

}
.imgslide1{
    height: 250px;
    width: 100%;
/*     background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:scroll;
    

}
.slide_1{
    height: 200px;
    width: fit-content;
/*     background-color: bisque; */
    display: flex;
    transform: translateX(200px);
    gap: 10px;
}

.boxes{
    height: 200px;
    width: 200px;
/*     background-color: #f19538; */
    

}
.imgslide2{
    height: 250px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:scroll;
    

}
.slide_2{
    height: 200px;
    width: fit-content;
    /* background-color: bisque; */
    display: flex;
    transform: translateX(95px);
    gap: 10px;
}
.boxes_2{
    height: 200px;
    width: 120px;
    display: flex;
    justify-content: center;
    /* background-color: #f19538; */   
}
.box_x{
    height: 400px;
    width: 320px;   
    background-color: rgb(248, 243, 243);
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.left_h3{
    transform: translateX(-40px);
}
.selles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -160px;
    /* background-color: salmon; */
    transform: translateY(200px);

}
.box_x_2{
    height: 400px;
    width: 320px;   
    background-color: rgb(248, 243, 243);
    /* padding-top: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.box_x_2 .box_x_img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box_x_img img{
    width: 20%;
    height: 70px;
    border: 2px solid gray;
}
.box_x_2 .rs{
    display: flex;
    width: 85%;
}
.box_x_2 .rs div{
    font-size: 18px;
    font-weight: 500;
}
.box_x_2 .Ambrane{
    width: 85%;
    font-size: 12px;
}